<div class="header">
  <h3>Cheers to</h3>
  <h1>{{appTitle}}</h1>
</div>

<div class="text">
  <p>Discover a world of</p><br />
  <p>cocktails delights </p><br />
  <p>with our app.</p><br />
  <p>Shake, stir, and</p><br>
  <p>savor the magic </p><br>
  <p>of mixology.</p><br>
  <p>Cheers to endless</p><br>
  <p>possibilities!</p><br>
  <p></p>
</div>