
<div class="text">
<h3>Cheers to Cocojambo</h3>
<p>Discover a world of cocktail delights with our app. Shake, stir, and savor the magic of mixology. Cheers to endless possibilities!</p>
{{!-- <h1 style="text-align: center;">{{appTitle}}</h1> --}}
</div>
