<h1></h1>
 <h1>Suprise Cocktail</h1>

    <button id="rdm-btn">Generate</button> 
    <div id="rdm-container">
     {{!-- <h2 id="c-name"></h2>
    <p id="c-alk"></p>
    <div id="c-pic"></div>
    <p id="inst"></p> --}}
    </div>

   {{!-- <div id="cocktail-container-random"></div> --}}
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="rdm.js"></script>