<h1>search</h1>
 <h1>Cocktail Info</h1>


  <div class="language-container">
     <p>Secect a Language</p>
    <select name="language" id="lang">
    <option value="en">EN</option>
    <option value="it">IT</option>
    <option value="de">DE</option>
    </select>   
  </div>
   
  
   <input id="c-name-input" type="text" placeholder="Enter Name or Ingredients"/><br>
      <button id="get-c-btn">Get cocktail</button> 
    
   <div id="cocktail-container"></div>
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="api.js"></script>