{{#if userInSession}}
  <h1>Welcome</h1>

  <form action="/userProfile" method="post" enctype="multipart/form-data">
    <label>Add Image:
      <input type="file" name="user-prof-image" />
      <button type="submit">Create Image</button>
    </label>
  </form>

 <form action="/account-delete" method="post">
     <button type="submit">Delete Account</button>
 </form>
  <section class="user-pic-name">
  <img src="{{userInSession.imageURL}}" alt="" style="width: 150px;" class="userPIC"/>
  <h2>{{userInSession.username}}!</h2>
  <p>This is your profile page my friend!</p>
  <section>
    <button>
      <a href="/search">go search</a>
    </button>
    <button>
      <a href="/search-random">get random</a>
    </button>
    <button>
      <a href="/api/favourites">your favourites</a>
    </button>

  </section>
  {{! <button>
    <a href="/userProfile">Reload the page</a>
  </button> }}
{{else}}
  <p>Still no logged in user, sorry!</p>
  <h2>{{userInSession.username}}!</h2>
{{/if}}