{{#if userInSession}}
  <h1>Welcome</h1>

  <form action="/userProfile" method="post" enctype="multipart/form-data">
    <label>Add Image:
      <input type="file" name="user-profil-image" />
      <button type="submit">Create your Image</button>
    </label>
  </form>
  <img src="{{userInSession.imageURL}}" alt="" style="width: 120px;" class="userPIC"/>
  <h2>{{userInSession.username}}!</h2>
  <p>This is your profile page my friend!</p>
  <section>
    <button>
      <a href="/search">go search</a>
    </button>
    <button>
      <a href="/search-random">get random</a>
    </button>

  </section>

{{else}}
  <p>Still no logged in user, sorry!</p>
  <h2>{{userInSession.username}}!</h2>
{{/if}}