{{#if userInSession}}
  <h1>Welcome</h1>
<section class="user-pic-name">
  <img src="{{userInSession.imageURL}}" alt="" style="width: 190px;" class="userPIC"/>
  <h2>{{userInSession.username}}!</h2>
  <p>Remember to drink responsibly!</p>
  <section class="func">
  <form action="/userProfile" method="post" enctype="multipart/form-data">
    <label>Add Image:
      <input type="file" name="user-prof-image" />
      <button type="submit">Create Image</button>
    </label>
  </form>

 <form action="/account-delete" method="post">
     <button type="submit">Delete Account</button>
 </form>
  
    <button>
      <a href="/search">Search Cocktail</a>
    </button>
    <button>
      <a href="/search-random">Suprise me!</a>
    </button>
    <button>
      <a href="/api/favourites">Favourites</a>
    </button>

  </section>
  {{! <button>
    <a href="/userProfile">Reload the page</a>
  </button> }}
{{else}}
  <p>Still no logged in user, sorry!</p>
  <h2>{{userInSession.username}}!</h2>
{{/if}}