/* public/stylesheets/style.css */
body {
  padding: 50px;
  font-family: "Roboto", sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #000;
}

/* bla bla  */

a {
  color: aliceblue;
  text-decoration: none;

  font-size: 1.5em;
  margin: 38px;

  

}
a:hover {
  color: #43a3e6;

  text-decoration: none;
  font-size: 1.5em;
}
form {
  margin: 10px auto 5px;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  
}

form input,
form button {

  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
opacity: 0.8;
background: #DBDCDC;
border: none; 
outline: none; 
}




  
}
button:hover{
  background-color: aliceblue;
  color:#43a3e6;
}


form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;

  /* display: relative; */
  font-size: 20px;
  padding: 8px 16px;
  /* text-decoration: none;
  text-transform: uppercase; */
  /* transition: 0.3s ease background;
  width: 100%; */

  display: inline-block;
  font-size: 14px;
  padding: 4px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;

}


form button:hover {
  background: #fff;

  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

ol {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

#form h2 {
  display: flex;
  justify-content: center;
  margin-left: 175px;
}

/* #to-left {
  float: left;
} */

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

/* #logout-form {
  display: inline;
  position: relative;
} */

#logout-form {
  position: relative;
  bottom: -195px;
  right: -280px;
}

#logout-form button {
  width: 140px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  border-radius: 19px;
  background: #43a3e6;
}


.age-btn {
  width: 140px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  border-radius: 19px;
  background: #43a3e6;
  color: #fff;
  font-size: 20px;
}
.main {
  /* background-color:rgba(66, 162, 230, 0.3); */
  background-image: url("/images/GalaktischLeckereCocktails.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
 

  color: aliceblue;

  width: 470px;
  height: 900px;
  margin: auto;
  padding-top: 50px;
}
.search-main {
  text-align: center;
  color: aliceblue;
  width: 400px;
  height: 700px;
  margin: auto;
  padding-top: 50px;
}

h3 {
  margin-top: 134px;

  color: aliceblue;
  width: 191px;
  height: 85px;
  flex-shrink: 0;
  color: #f5f5f5;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.starter {
  margin-top: 134px;
  color: aliceblue;
  width: 191px;
  height: 85px;
}

.text {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  color: aliceblue;
  width: 191px;
  height: 383px;
  flex-shrink: 0;
  color: #f5f5f5;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
}

/* 
.cont {
  display: inline-block;
}
.cocktail-info {
  border: solid 1px aliceblue;
  margin-bottom: 10px;
}

#cocktail-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}*/

img {
  width: 300px;
  transition: transform 1s, scale 1s;
  transform-origin: center;
}
img:hover {
  transform: rotate(360deg);
  scale: 2;
}

#rdm-container {
  border: solid 1px aliceblue;
  margin-bottom: 10px;
}

.language-container {
  margin: 20px;
}
#lang {
  background-color: #43a3e6;
  color: aliceblue;
  width: 100px;
  height: 30px;
  font-size: large;
}
#lang:hover {
  background-color: aliceblue;
  color: #43a3e6;
}


.userPIC{
  border: none;
  border-radius: 50%;
}
input[type="file"] {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 120px;
  max-width: 100%;
}
.user-pic-name{
  margin: 150px auto 150px;
}

